<html>
<head>
  <meta charset="UTF-8">
  <title>Руби на Шпалах</title>
</head>
<body>
<h1>@welcome_title</h1>

<small>Всего цитат @total_quotes</small>
<h3>Последняя цитата:</h3>
<p>
  <em>
    @last_quote
  </em>
</p>

<p>
<h3>Предложите вашу цитату:</h3>
<form method='get' action='/save'>
  <textarea rows="9" cols="50" name='message'></textarea>
  <input type='submit'/>
</form>
</p>
</body>
</html>
