<html>
<head>
  <meta charset="UTF-8">
  <title>Руби на Шпалах</title>
</head>
<body>
<h1>Сохранено</h1>

<h3>Ваша цитата:</h3>
<p>
  @quote
</p>

<p>
<em>@time</em>
</p>

<p><a href="/index">На главную</a></p>

</body>
</html>
